# Exercise 05 : Pandas optimizations

In [80]:
import pandas as pd
import gc

## Read the fines.csv that you saved in the previous exercise

In [81]:
fines_df = pd.read_csv('../data/fines.csv')
fines_df

        CarNumber  Refund    Fines        Make      Model  Year
0    Y163O8161RUS     2.0   3200.0        Ford      Focus  1989
1     E432XX77RUS     1.0   6500.0      Toyota      Camry  1995
2     7184TT36RUS     1.0   2100.0        Ford      Focus  1984
3    X582HE161RUS     2.0   2000.0        Ford      Focus  2015
4    92918M178RUS     1.0   5700.0        Ford      Focus  2014
..            ...     ...      ...         ...        ...   ...
925   R245PO33RUS     2.0   4560.0         Kia        Rio  2011
926   M345NO90RUS     1.0   3456.0        Ford      Focus  2022
927  P235QR234RUS     2.0   2000.0      Nissan    Qashqai  2016
928  S223TU567RUS     1.0  56999.0  Lamborgini  Aventador  2000
929  V285WX890RUS     1.0  12563.0      Porche     Cayman  2009

[930 rows x 6 columns]

## iterations: in all the following subtasks, you need to calculate fines/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell
- loop: write a function that iterates through the dataframe using for i in range(0, len(df)), iloc and append() to a list, assign the result of the func- tion to a new column in the dataframe
- do it using iterrows()
- do it using apply() and lambda function
- do it using Series objects from the dataframe
- do it as in the previous subtask but with the method .values

In [82]:
%%timeit -n 1 -r 1

calculate_loop = [
    fines_df.iloc[row_index]['Fines'] / fines_df.iloc[row_index]['Refund'] * fines_df.iloc[row_index]['Year']
    for row_index in range(len(fines_df))
]
fines_df['Calculate'] = calculate_loop

233 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [83]:
fines_df

        CarNumber  Refund    Fines        Make      Model  Year    Calculate
0    Y163O8161RUS     2.0   3200.0        Ford      Focus  1989    3182400.0
1     E432XX77RUS     1.0   6500.0      Toyota      Camry  1995   12967500.0
2     7184TT36RUS     1.0   2100.0        Ford      Focus  1984    4166400.0
3    X582HE161RUS     2.0   2000.0        Ford      Focus  2015    2015000.0
4    92918M178RUS     1.0   5700.0        Ford      Focus  2014   11479800.0
..            ...     ...      ...         ...        ...   ...          ...
925   R245PO33RUS     2.0   4560.0         Kia        Rio  2011    4585080.0
926   M345NO90RUS     1.0   3456.0        Ford      Focus  2022    6988032.0
927  P235QR234RUS     2.0   2000.0      Nissan    Qashqai  2016    2016000.0
928  S223TU567RUS     1.0  56999.0  Lamborgini  Aventador  2000  113998000.0
929  V285WX890RUS     1.0  12563.0      Porche     Cayman  2009   25239067.0

[930 rows x 7 columns]

In [84]:
%%timeit -n 1 -r 1

calculate_iterrows = [
    row['Fines'] / row['Refund'] * row['Year']
    for index, row in fines_df.iterrows()
]

fines_df['Calculate'] = calculate_iterrows

84.9 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [85]:
fines_df

        CarNumber  Refund    Fines        Make      Model  Year    Calculate
0    Y163O8161RUS     2.0   3200.0        Ford      Focus  1989    3182400.0
1     E432XX77RUS     1.0   6500.0      Toyota      Camry  1995   12967500.0
2     7184TT36RUS     1.0   2100.0        Ford      Focus  1984    4166400.0
3    X582HE161RUS     2.0   2000.0        Ford      Focus  2015    2015000.0
4    92918M178RUS     1.0   5700.0        Ford      Focus  2014   11479800.0
..            ...     ...      ...         ...        ...   ...          ...
925   R245PO33RUS     2.0   4560.0         Kia        Rio  2011    4585080.0
926   M345NO90RUS     1.0   3456.0        Ford      Focus  2022    6988032.0
927  P235QR234RUS     2.0   2000.0      Nissan    Qashqai  2016    2016000.0
928  S223TU567RUS     1.0  56999.0  Lamborgini  Aventador  2000  113998000.0
929  V285WX890RUS     1.0  12563.0      Porche     Cayman  2009   25239067.0

[930 rows x 7 columns]

In [86]:
%%timeit -n 1 -r 1

fines_df['Calculate'] = fines_df.apply(lambda x: (x['Fines'] / x['Refund']) * x['Year'], axis=1)

21.2 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [87]:
fines_df

        CarNumber  Refund    Fines        Make      Model  Year    Calculate
0    Y163O8161RUS     2.0   3200.0        Ford      Focus  1989    3182400.0
1     E432XX77RUS     1.0   6500.0      Toyota      Camry  1995   12967500.0
2     7184TT36RUS     1.0   2100.0        Ford      Focus  1984    4166400.0
3    X582HE161RUS     2.0   2000.0        Ford      Focus  2015    2015000.0
4    92918M178RUS     1.0   5700.0        Ford      Focus  2014   11479800.0
..            ...     ...      ...         ...        ...   ...          ...
925   R245PO33RUS     2.0   4560.0         Kia        Rio  2011    4585080.0
926   M345NO90RUS     1.0   3456.0        Ford      Focus  2022    6988032.0
927  P235QR234RUS     2.0   2000.0      Nissan    Qashqai  2016    2016000.0
928  S223TU567RUS     1.0  56999.0  Lamborgini  Aventador  2000  113998000.0
929  V285WX890RUS     1.0  12563.0      Porche     Cayman  2009   25239067.0

[930 rows x 7 columns]

In [88]:
%%timeit -n 1 -r 1

fines_df['Calculate'] = fines_df['Fines'] / fines_df['Refund'] * fines_df['Year']

907 μs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [89]:
fines_df

        CarNumber  Refund    Fines        Make      Model  Year    Calculate
0    Y163O8161RUS     2.0   3200.0        Ford      Focus  1989    3182400.0
1     E432XX77RUS     1.0   6500.0      Toyota      Camry  1995   12967500.0
2     7184TT36RUS     1.0   2100.0        Ford      Focus  1984    4166400.0
3    X582HE161RUS     2.0   2000.0        Ford      Focus  2015    2015000.0
4    92918M178RUS     1.0   5700.0        Ford      Focus  2014   11479800.0
..            ...     ...      ...         ...        ...   ...          ...
925   R245PO33RUS     2.0   4560.0         Kia        Rio  2011    4585080.0
926   M345NO90RUS     1.0   3456.0        Ford      Focus  2022    6988032.0
927  P235QR234RUS     2.0   2000.0      Nissan    Qashqai  2016    2016000.0
928  S223TU567RUS     1.0  56999.0  Lamborgini  Aventador  2000  113998000.0
929  V285WX890RUS     1.0  12563.0      Porche     Cayman  2009   25239067.0

[930 rows x 7 columns]

In [90]:
%%timeit -n 1 -r 1

fines_df['Calculate'] = fines_df['Fines'].values / fines_df['Refund'].values * fines_df['Year'].values

560 μs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [91]:
fines_df

        CarNumber  Refund    Fines        Make      Model  Year    Calculate
0    Y163O8161RUS     2.0   3200.0        Ford      Focus  1989    3182400.0
1     E432XX77RUS     1.0   6500.0      Toyota      Camry  1995   12967500.0
2     7184TT36RUS     1.0   2100.0        Ford      Focus  1984    4166400.0
3    X582HE161RUS     2.0   2000.0        Ford      Focus  2015    2015000.0
4    92918M178RUS     1.0   5700.0        Ford      Focus  2014   11479800.0
..            ...     ...      ...         ...        ...   ...          ...
925   R245PO33RUS     2.0   4560.0         Kia        Rio  2011    4585080.0
926   M345NO90RUS     1.0   3456.0        Ford      Focus  2022    6988032.0
927  P235QR234RUS     2.0   2000.0      Nissan    Qashqai  2016    2016000.0
928  S223TU567RUS     1.0  56999.0  Lamborgini  Aventador  2000  113998000.0
929  V285WX890RUS     1.0  12563.0      Porche     Cayman  2009   25239067.0

[930 rows x 7 columns]

## indexing: measure the time using the magic command %%timeit in the cell
- get a row for a specific CarNumber, for example, ’O136HO197RUS’
- set the index in your dataframe with CarNumber
- again, get a row for the same CarNumber

In [92]:
%%timeit -n 1 -r 1

car_row = fines_df.loc[fines_df['CarNumber'] == 'O136HO197RUS']

1.35 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [93]:
fines_df.set_index('CarNumber', inplace=True)
fines_df

              Refund    Fines        Make      Model  Year    Calculate
CarNumber
Y163O8161RUS     2.0   3200.0        Ford      Focus  1989    3182400.0
E432XX77RUS      1.0   6500.0      Toyota      Camry  1995   12967500.0
7184TT36RUS      1.0   2100.0        Ford      Focus  1984    4166400.0
X582HE161RUS     2.0   2000.0        Ford      Focus  2015    2015000.0
92918M178RUS     1.0   5700.0        Ford      Focus  2014   11479800.0
...              ...      ...         ...        ...   ...          ...
R245PO33RUS      2.0   4560.0         Kia        Rio  2011    4585080.0
M345NO90RUS      1.0   3456.0        Ford      Focus  2022    6988032.0
P235QR234RUS     2.0   2000.0      Nissan    Qashqai  2016    2016000.0
S223TU567RUS     1.0  56999.0  Lamborgini  Aventador  2000  113998000.0
V285WX890RUS     1.0  12563.0      Porche     Cayman  2009   25239067.0

[930 rows x 6 columns]

In [94]:
%%timeit -n 1 -r 1

car_row = fines_df.loc['O136HO197RUS']

1.64 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

## downcasting
- run df.info(memory_usage=’deep’), pay attention to the Dtype and the mem- ory usage
- make a copy() of your initial dataframe into another dataframe optimized

In [95]:
fines_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to V285WX890RUS
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Refund     930 non-null    float64
 1   Fines      930 non-null    float64
 2   Make       930 non-null    object
 3   Model      918 non-null    object
 4   Year       930 non-null    int64
 5   Calculate  930 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 214.2 KB

In [101]:
optimized_df = fines_df.copy()
optimized_df.reset_index(inplace=True)

fl32_column = ['Fines', 'Calculate']
category_column = ['Make', 'Model', 'CarNumber']

optimized_df['Refund'] = optimized_df['Refund'].astype('int8')

optimized_df[fl32_column] = optimized_df[fl32_column].astype('float32')

optimized_df['Year'] = optimized_df['Year'].astype('int16')

optimized_df[category_column] = optimized_df[category_column].astype('category')

In [102]:
del fines_df
gc.collect()

2555

In [103]:
optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    category
 1   Refund     930 non-null    int8
 2   Fines      930 non-null    float32
 3   Make       930 non-null    category
 4   Model      918 non-null    category
 5   Year       930 non-null    int16
 6   Calculate  930 non-null    float32
dtypes: category(3), float32(2), int16(1), int8(1)
memory usage: 63.9 KB

In [104]:
fines_df

NameError: name 'fines_df' is not defined