# Exercise 01 : Basic operations

In [8]:
import pandas as pd

## Create a dataframe views with two columns: datetime and user by reading feed- views.log

In [9]:
df = pd.read_csv('../data/feed-views.log', sep='\t', names=['datetime', 'users'], engine='python')
df

                        datetime      users
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

In [10]:
df['datetime'] = pd.to_datetime(df['datetime'])
print(df.dtypes)

datetime    datetime64[ns]
users               object
dtype: object

In [11]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second

df

,datetime,users,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

## Create the new column daytime

In [12]:
daytime_intervals = [0, 4, 7, 11, 17, 20, 24]
daytimes = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']

df['daytime'] = pd.cut(df['hour'] + df['minute'] / 60, bins=daytime_intervals, labels=daytimes, right=False)

df.set_index('users', inplace=True)

df

,datetime,year,month,day,hour,minute,second,daytime
users,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

## Calculate the number of elements in your dataframe

количество элементов в каждом столбце:

In [13]:
count_per_column = df.count()
count_per_column

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

всего элементов:

In [14]:
total_non_null = count_per_column.sum()
total_non_null

np.int64(8608)

количество элементов в каждой категории времени суток:

In [15]:
daytime_counts = df['daytime'].value_counts()
daytime_counts

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: count, dtype: int64

## Sort values in your dataframe by hour, minute, and second in ascending order (simultaneously and not one by one)

In [16]:
df.sort_values(by='datetime')
df

,datetime,year,month,day,hour,minute,second,daytime
users,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

## Calculate the minimum and maximum for the hours and the mode for the daytime categories

In [17]:
max_hour_night = df[df['daytime'] == 'night']['hour'].max()
print(f'max hour of night: {max_hour_night}')

max hour of night: 3

In [18]:
user_max_hour_night = df[(df['daytime'] == 'night') & (df['hour'] == max_hour_night)].index.tolist()
list(set(user_max_hour_night))

['konstantin']

In [19]:
min_hour_morning = df[df['daytime'] == 'morning']['hour'].min()
print(f'min hour of morning: {min_hour_morning}')

min hour of morning: 8

In [20]:
user_min_hour_morning = df[(df['daytime'] == 'morning') & (df['hour'] == min_hour_morning)].index.tolist()
list(set(user_min_hour_morning))

['alexander']

In [21]:
mode = df['daytime'].mode()
mode.tolist()

['evening']

In [30]:
mode = df['hour'].mode()
mode.tolist()

[22]

## Show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames using nsmallest() and nlargest()

In [22]:
earliest_hours = df[df['daytime'] == 'morning']['hour'].nsmallest(3)
earliest_hours

users
alexander    8
alexander    8
artem        9
Name: hour, dtype: int32

In [23]:
lastest_hours = df[df['daytime'] == 'night']['hour'].nlargest(3)
lastest_hours

users
konstantin    3
konstantin    3
konstantin    3
Name: hour, dtype: int32

## Use the method describe() to get the basic statistics for the columns

In [24]:
num_description = df.describe()
num_description

,datetime,year,month,day,hour,minute,second
count,1076,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020-05-10 09:00:41.211420672,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929
min,2020-04-17 12:01:08.463179,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000
25%,2020-05-10 01:13:49.857472,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000
50%,2020-05-11 22:48:35.302552832,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000
75%,2020-05-14 14:44:34.749530624,2020.0,5.000000,15.000000,22.000000,46.000000,45.000000
max,2020-05-22 10:36:14.662600,2020.0,5.000000,30.000000,23.000000,59.000000,59.000000
std,NaN,0.0,0.335557,4.906567,6.955490,17.689388,17.405506

In [25]:
hour_description = df['hour'].describe()

q1 = hour_description['25%']
q3 = hour_description['75%']

iqr = q3 - q1
print(f'iqr = {iqr}')

iqr = 9.0